<div class="flex w-full flex-auto justify-center sm:p-6 md:p-8">
<main class="bg-default flex w-full flex-auto flex-col sm:max-w-360 sm:overflow-hidden sm:rounded-lg sm:shadow-lg">

  <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
    <h1 class="!sm:text-3xl !text-2xl !font-medium !title-font !mb-2 !text-slate-400">Lista de Processos</h1>
    <div class="h-1 w-20 bg-indigo-500 rounded"></div>
  </div>

  <div class="mt-2">
    <mat-card class="!bg-zinc-200">
      <table mat-table [dataSource]="dataSource" class="!bg-zinc-300">

        <!-- Position Column -->
        <ng-container matColumnDef="npu">
          <th mat-header-cell *matHeaderCellDef> NPU </th>
          <td mat-cell *matCellDef="let element"> {{element.npu}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="dataCadastro">
          <th mat-header-cell *matHeaderCellDef> Data de Cadastro </th>
          <td mat-cell *matCellDef="let element"> {{element.dataCadastro}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="uf">
          <th mat-header-cell *matHeaderCellDef> UF do Processo </th>
          <td mat-cell *matCellDef="let element"> {{element.uf}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element" class="text-blue-900 space-x-2">
            <button mat-icon-button class="text-zinc-600 hover:bg-gray-400 p-1 rounded" (click)="visualizar(element)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button class="text-zinc-600 hover:bg-gray-400 p-1 rounded" (click)="editar(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="text-zinc-600 hover:bg-gray-400 p-1 rounded" (click)="deletar(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements"
                     class="!bg-zinc-300 !font-medium">
      </mat-paginator>
    </mat-card>
  </div>

</main>
</div>
