<footer class="bg-zinc-700 text-slate-300 font-light h-12 content-center px-6">
  <div class="px-6 py-1 flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-slate-400">
      <span class="ml-3 text-xl">Walter Lima</span>
    </a>
    <p class="text-sm text-slate-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2024 - Todos os direitos reservados
      <a href="https://github.com/nitlawalter/cadastro-processos-tailwind-app"
        class="text-slate-400 ml-1 hover:bg-zinc-900 hover:text-slate-400 p-2 rounded"
        rel="noopener noreferrer" target="_blank">
        Github do projeto
      </a>
    </p>
  </div>
</footer>
