<section class="text-gray-900">
  <div class="container px-5 py-10 mx-auto flex flex-col items-center">

    <h6 class="text-slate-800 font-medium">Cadastro de Processo</h6>

    <form [formGroup]="formProcesso" class="flex flex-col w-full py-6">
      <mat-form-field class="w-full">
        <mat-label class="text-zinc-900">Data de Visualização</mat-label>
        <input matInput type="date" formControlName="dataVisualizacao" placeholder="dd/MM/yyyy" [disabled]="true">
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label class="text-zinc-900">Data de Cadastro</mat-label>
        <input matInput type="date" formControlName="dataCadastro" placeholder="dd/MM/yyyy" [disabled]="true">
        @if(formProcesso.controls['dataCadastro'].invalid ) {
          <mat-error>Data inválida</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label class="text-zinc-900">NPU</mat-label>
        <input matInput formControlName="npu" mask="0000000-00.0000.0.00.0000" [showMaskTyped]="true">
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label class="text-zinc-900">Estado</mat-label>
        <mat-select formControlName="uf" name="uf" (selectionChange)="onEstadoChange($event.value)">
          @for (estado of estados; track estado) {
            <mat-option [value]="estado.sigla">{{estado.nome}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label class="text-zinc-900">Município</mat-label>
        <mat-select formControlName="municipio" name="municipio">
          @for (municipio of municipios; track municipio) {
            <mat-option [value]="municipio.nome">{{municipio.nome}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if(isEditMode && attachedFileName) {
          <p>Arquivo PDF anexado: {{ attachedFileName }}</p>
      }

      <input type="file" (change)="onFileSelected($event)" accept=".pdf">

    </form>
    <div class="flex flex-row w-full space-x-2">
      <button mat-button class="bg-blue-900 p-2 text-slate-200 rounded hover:bg-blue-600"
         mat-dialog-close (click)="saveProcesso()" [disabled]="!formProcesso.valid">Salvar</button>
      <button mat-button class="bg-blue-900 p-2 text-slate-200 rounded hover:bg-blue-600"
         mat-dialog-close (click)="closeModal()">Fechar</button>
    </div>
  </div>
</section>
